{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2019,
    "sourceType": "module",
    "version": "detect"
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier/@typescript-eslint"
  ],
  "rules": {
    "jsx-a11y/anchor-is-valid": "off" // This rule is not compatible with Next.js"s <Link /> components
  },
  "overrides": [
    {
      "files": ["**/*.ts*"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off", // We don't want to enforce return types on react components
        "react/react-in-jsx-scope": "off" // not needed when using nextjs
      }
    },
    {
      "files": ["**/*.test.*", "**/*.spec.*"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
